@import url('https://fonts.googleapis.com/css?family=Dosis:200,400|Handlee|Montserrat+Subrayada');



/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Handlee', cursive; */


.heading{
  font-family: 'Dosis', sans-serif;
  font-size: 5vw;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.about{
  font-family: 'Handlee', sans-serif;
  font-size: 1.5vw;
  font-weight: 200;
	line-height: 1.8vw;
  color: #fff;
  padding: 3vw 10% 0% 10%;
	text-align: justify;
}

.content{
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: justify;
}

.contentD{
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #000;
  text-align: justify;
}
